@model TennisServe.Web.Models.PointViewModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>PointViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Predict">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Names" class="control-label"></label>
                <input asp-for="Names" class="form-control" />
                <span asp-validation-for="Names" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sets" class="control-label"></label>
                <input asp-for="Sets" class="form-control" />
                <span asp-validation-for="Sets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Games" class="control-label"></label>
                <input asp-for="Games" class="form-control" />
                <span asp-validation-for="Games" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Side" class="control-label"></label>
                <input asp-for="Side" class="form-control" />
                <span asp-validation-for="Side" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <img src="../imgs/tennis-court.PNG/" width="100" height="100" />
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
